<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Absensi Online</title>
	<!-- BOOTSTRAP STYLES-->
    <link href=" assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css" integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
        <!-- CUSTOM STYLES-->
    <link href=" assets/css/custom.css" rel="stylesheet" />
    <link href=" assets/css/style.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
     
           
          
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="assets/img/its2.png" width="60" height="50" />

                    </a>
                    
                </div>
              
             
                <span class="logout-spn" >
                  <a href="auth/logout" style="color:#fff;">LOGOUT</a>  

                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                 


                    <li class="active-link">
                        <a href="index.html" ><i class="fa fa-desktop "></i>Dashboard </a>
                    </li>

                     <li>
                        <a href="absen.html"><i class="fa fa-user-edit" ></i>Absen</a>
                    </li>

                    <li>
                        <a href="tambahjadwal.html"><i class="fas fa-table"></i></i>Rekap Kuliah per Semester</a>
                    </li>

                    <li>
                        <a href="tambahjadwal.html"><i class="fas fa-file-excel"></i></i>Rekap Kuliah per Pertemuan</a>
                    </li>

                    <li>
                        <a href="tambahjadwal.html"><i class="fas fa-file-alt"></i>Rekap Mhs per Kuliah</a>
                    </li>

                    <li>
                        <a href="tambahjadwal.html"><i class="fas fa-file"></i>Rekap Mhs per Semester</a>
                    </li>
                </ul>
                            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                     <h2>Sistem Absensi Online</h2>   
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="alert alert-info">
                             <strong>Selamat Datang ! </strong> 
                        </div>
                       
                    </div>
                    </div>
                  <!-- /. ROW  --> 
                  <div class="row text-center pad-top">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">                          
                        <i class="fas fa-user-edit fa-5x"></i>
                        <a href="#absen" data-toggle="modal"><br> <h4>Absen Disini !</h4></a>
                      </div>
                      <!-- Edit Modal HTML -->
                      <form method="post" action="absen">
                        <div id="absen" class="modal fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form>
                                <div class="modal-header">            
                                  <h4 class="modal-title">Isi Form Dibawah</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">          
                                  <div class="form-group">
                                    <label>Nama Ruang</label>
                                    <input name="ruang" type="text" class="form-control" required>
                                  </div>
                                  <div class="form-group">
                                    <label>NRP</label>
                                    <input name="nrp" type="text" class="form-control" required>
                                  </div>                                    
                                        
                                </div>
                                <div class="modal-footer">
                                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                  <input type="submit" class="btn btn-success" value="Submit">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </form>
                        <!-- Edit Modal HTML --> 
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">                         
                        <i class="fas fa-table fa-5x"></i>
                        <a href="#rekapkuliahsemester" data-toggle="modal" > <h4>Rekap Kuliah per Semester</h4></a>
                      </div>
                      <!-- Edit Modal HTML -->
                      <form method="get" action="rekappersemester">
                        <div id="rekapkuliahsemester" class="modal fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form>
                                <div class="modal-header">            
                                  <h4 class="modal-title">Rekap Kuliah per Semester</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">          
                                  <div class="form-group">
                                    <label>Kode Mata Kuliah</label>
                                    <input name="idmatkul" type="text" class="form-control" required>
                                  </div>                                  
                                        
                                </div>
                                <div class="modal-footer">
                                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                  <input type="submit" class="btn btn-success" value="Submit">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </form>
                        <!-- Edit Modal HTML -->   
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">                         
                        <i class="fas fa-file-excel fa-5x"></i>
                        <a href="#rekapkuliahpertemuan" data-toggle="modal"> <br><h4>Rekap Kuliah per Pertemuan</h4></a>
                      </div>
                      <!-- Edit Modal HTML -->
                      <form method="get" action="rekappertemuan">
                        <div id="rekapkuliahpertemuan" class="modal fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form>
                                <div class="modal-header">            
                                  <h4 class="modal-title">Rekap Kuliah per Pertemuan</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">          
                                  <div class="form-group">
                                    <label>Kode Mata Kuliah</label>
                                    <input name="idmatkul" type="text" class="form-control" required>
                                  </div>
                                  <div class="form-group">
                                    <label>Pertemuan Ke-</label>
                                    <input name="pertemuanke" type="text" class="form-control" required>
                                  </div>
                                  
                                          
                                </div>
                                <div class="modal-footer">
                                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                  <input type="submit" class="btn btn-success" value="Submit">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </form>
                        <!-- Edit Modal HTML -->
                      </div>

                       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">                         
                        <i class="fas fa-file-alt fa-5x"></i>
                        <a href="#rekapmhskuliah" data-toggle="modal"> <br><h4>Rekap Mhs per Kuliah</h4></a>
                      </div>
                      <!-- Edit Modal HTML -->
                      <form method="get" action="rekapmahasiswa">
                        <div id="rekapmhskuliah" class="modal fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form>
                                <div class="modal-header">            
                                  <h4 class="modal-title">Rekap per Mahasiswa per Kuliah</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">          
                                  <div class="form-group">
                                    <label>NRP</label>
                                    <input name="nrp" type="text" class="form-control" required>
                                  </div>
                                  <div class="form-group">
                                    <label>Kode Mata Kuliah</label>
                                    <input name="idmatkul" type="text" class="form-control" required>
                                  </div>
                                  
                                          
                                </div>
                                <div class="modal-footer">
                                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                  <input type="submit" class="btn btn-success" value="Submit">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </form>
                        <!-- Edit Modal HTML -->
                      </div> 

                       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">                         
                        <i class="fas fa-file fa-5x"></i>
                        <a href="#rekapmhssemester" data-toggle="modal"> <br><h4>Rekap Mhs per semester</h4></a>
                      </div>
                      <!-- Edit Modal HTML -->
                      <form method="get" action="rekapmahasiswasemester">
                        <div id="rekapmhssemester" class="modal fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <form>
                                <div class="modal-header">            
                                  <h4 class="modal-title">Rekap Kuliah per Pertemuan</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">          
                                  <div class="form-group">
                                    <label>NRP</label>
                                    <input name="nrp" type="text" class="form-control" required>
                                  </div>
                                  <div class="form-group">
                                    <label>Semester</label>
                                    <input name="semester" type="text" class="form-control" required>
                                  </div>
                                  
                                          
                                </div>
                                <div class="modal-footer">
                                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                  <input type="submit" class="btn btn-success" value="Submit">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </form>
                        <!-- Edit Modal HTML -->
                      </div>  
  
                    </div>
                 </div>
 
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
    <div class="footer">
      
    
            <div class="row">
                <div class="col-lg-12" >
                    Sistem Absensi Online ITS | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">Kelompok 4</a>
                </div>
            </div>
        </div>
          

     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    
   
</body>
</html>
