<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rekap Per Semester</title>
</head>
<body>
    <table class="table table-bordered table-striped" id="rekap_table">
        <tr>
        <th>Nama Ruang</th>
        <th>Pertemuan Ke</th>
        <th>Jam Mulai</th>
        <th>Jam Selesai</th>
        </tr>
    </table>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$( document ).ready(function() {
 const urlParams = new URLSearchParams(window.location.search);
 const idmatkul = urlParams.get('idmatkul');
 $.getJSON("/rekappersemester/"+idmatkul, function(data){ 
     var rekap_data = '';
      $.each(data, function(key, value){
          rekap_data += '<tr>';
          rekap_data += '<td>'+value.nama_ruang+'</td>';
          rekap_data += '<td>'+value.pertemuan_ke+'</td>';
          rekap_data += '<td>'+value.jam_mulai+'</td>';
          rekap_data += '<td>'+value.jam_selesai+'</td>';
          rekap_data += '</tr>';
      });
      $('#rekap_table').append(rekap_data);    
  });
 });
</script>   
</body>
</html>