<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rekap Per Semester</title>
	<!-- BOOTSTRAP STYLES-->
    <link href=" assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css" integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
        <!-- CUSTOM STYLES-->
    <link href=" assets/css/custom.css" rel="stylesheet" />
    <link href=" assets/css/style.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
     
           
          
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="assets/img/its2.png" width="60" height="50" />

                    </a>
                    
                </div>
              
             
                <span class="logout-spn" >
                  <a href="auth/logout" style="color:#fff;">LOGOUT</a>  

                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                 


                    <li class="active-link">
                        <a href="#" ><i class="fa fa-desktop "></i>Dashboard </a>
                    </li>

                     <li>
                        <button onclick="goBack()">Kembali</button>

                        <script>
                        function goBack() {
                          window.history.back();
                        }
                        </script>
                    </li>

                     
                </ul>
                            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                  
                            </div>
                          </div>
                       
                
  <!-- <table class="table table-bordered table-striped" id="rekap_table" style="width:100%">
        <b>Mata Kuliah: </b>
        <b id="namamatkul"></b>
        <br>
        <b>Nama Kelas: </b>
        <b id="namakelas"></b>
        <tr>
        <th style="width:25%">Mata Kuliah</th>
        <th style="width:25%">Kelas</th>
        <th style="width:25%">Peserta</th>
        </tr>
    </table> -->

    <h1><b>REKAP PER SEMESTER</b></h1>
    <div id="findingDiv"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
    $( document ).ready(function() {
    const urlParams = new URLSearchParams(window.location.search);
    const idmatkul = urlParams.get('idmatkul');
    $.getJSON('api/rekappersemester/'+idmatkul, function(data){ 
        var tabel = '';
        $.each(data, function(key, value){
            tabel += '<table class="table table-bordered table-striped" id="rekap_table" style="width:100%">';
            tabel += '<b>Mata Kuliah: </b><b>'+value.nama+'</b><br><b>Kelas: </b><b>'+value.kelas+'</b>';  
            tabel += '<tr>';
            tabel += '<th style="width:25%">Peserta</th>';
            tabel += '<tr>';
            for (let index = 0; index < value.peserta.length; index++) {
                tabel += '<td>'+value.peserta[index]+'</td>';
                tabel += '</tr>';
            }
            tabel += '</tr>';
            tabel += '</tr>';
            tabel += '</table>';
        });
        $('#findingDiv').append(tabel);
    });
    });
    </script> 
 
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
    <div class="footer">
      
    
            <div class="row">
                <div class="col-lg-12" >
                    Sistem Absensi Online ITS | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">Kelompok 4</a>
                </div>
            </div>
        </div>
          

     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    
   
</body>
</html>
