<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rekap Per Semester</title>
	<!-- BOOTSTRAP STYLES-->
    <link href=" assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css" integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
        <!-- CUSTOM STYLES-->
    <link href=" assets/css/custom.css" rel="stylesheet" />
    <link href=" assets/css/style.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
     
           
          
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="assets/img/its2.png" width="60" height="50" />

                    </a>
                    
                </div>
              
             
                <span class="logout-spn" >
                  <a href="auth/logout" style="color:#fff;">LOGOUT</a>  

                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                 


                    <li class="active-link">
                        <a href="index.html" ><i class="fa fa-desktop "></i>Dashboard </a>
                    </li>

                     <li>
                        <a href="tambahmahasiswa.html"><i class="fa fa-user-plus" ></i>Tambah Mahasiswa</a>
                    </li>

                     <li>
                        <a href="tambahpeserta.html"><i class="fas fa-user-friends"></i>Tambah Mhs ke Matkul</a>
                    </li>
                   
                    <li>
                        <a href="tambahmatkul.html"><i class="fas fa-calendar-plus"></i>Tambah Mata Kuliah</a>
                    </li>
                 
                    <li>
                        <a href="tambahjadwal.html"><i class="fas fa-clock"></i>Tambah Jadwal Pertemuan</a>
                    </li>

                    <li>
                        <a href="tambahjadwal.html"><i class="fas fa-table"></i></i>Rekap Kuliah per Semester</a>
                    </li>

                    <li>
                        <a href="tambahjadwal.html"><i class="fas fa-file-excel"></i></i>Rekap Kuliah per Pertemuan</a>
                    </li>

                    <li>
                        <a href="tambahjadwal.html"><i class="fas fa-file-alt"></i>Rekap Mhs per Kuliah</a>
                    </li>

                    <li>
                        <a href="tambahjadwal.html"><i class="fas fa-file"></i>Rekap Mhs per Semester</a>
                    </li>
                </ul>
                            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                  
                            </div>
                          </div>
                       
                
  <table class="table table-bordered table-striped" id="rekap_table" style="width:100%">
    TEST
        <tr>
        <th style="width:25%">Nama Ruang</th>
        <th style="width:25%">Pertemuan Ke</th>
        <th style="width:25%">Jam Mulai</th>
        <th style="width:25%">Jam Selesai</th>
        </tr>
    </table>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$( document ).ready(function() {
 const urlParams = new URLSearchParams(window.location.search);
 const idmatkul = urlParams.get('idmatkul');
 $.getJSON("/rekappersemester/"+idmatkul, function(data){ 
     var rekap_data = '';
      $.each(data, function(key, value){
          rekap_data += '<tr>';
          rekap_data += '<td>'+value.nama_ruang+'</td>';
          rekap_data += '<td>'+value.pertemuan_ke+'</td>';
          rekap_data += '<td>'+value.jam_mulai+'</td>';
          rekap_data += '<td>'+value.jam_selesai+'</td>';
          rekap_data += '</tr>';
      });
      $('#rekap_table').append(rekap_data);    
  });
 });
</script> 
 
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
    <div class="footer">
      
    
            <div class="row">
                <div class="col-lg-12" >
                    Sistem Absensi Online ITS | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">Kelompok 4</a>
                </div>
            </div>
        </div>
          

     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    
   
</body>
</html>
