  
 <!DOCTYPE html>  
 <html>  
      <head>  
           <title>Tambah Data Mahasiswa</title>  
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
      </head>  
      <body>  
           <br />  
           <div class="container" style="width:500px;">  
                <h3 align="">Tambah Data Mahasiswa</h3><br />                 
                <form method="post" action="/tambahmahasiswa">  
                    
                     <br />  
                     <label>NRP</label>  
                     <input type="text" name="nrp" class="form-control" /><br />  
                     <label>Nama</label>  
                     <input type="text" name="nama" class="form-control" /><br />  
                     <label>Password</label>  
                     <input type="password" name="password" class="form-control" /><br />  
                     <input type="submit" name="submit" value="Submit" class="btn btn-info" /><br />                      
                   
                </form>  
           </div>  
           <br />  
      </body>  
 </html> 