  
 <!DOCTYPE html>  
 <html>  
      <head>  
           <title>Tambah Data Mahasiswa</title>  
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
      </head>  
      <body>  
           <br />  
           <div class="container" style="width:500px;">  
                <h3 align="">Tambah Jadwal Kuliah</h3><br />                 
                <form method="post" action="tambahjadwal">  
                    
                     <br />
                     <label>Kode Mata Kuliah</label> 
                     <input type="text" name="id_matkul" class="form-control" /><br />   
                     <label>Pertemuan Ke</label> 
                     <input type="text" name="pertemuan_ke" class="form-control" /><br />  
                     <label>Nama Ruang</label>  
                     <input type="text" name="nama_ruang" class="form-control" /><br />  
                     <label>Jam Masuk</label>  
                     <input type="time" name="jam_masuk" class="form-control" /><br /> 
                     <label>Jam Selesai</label>  
                     <input type="time" name="jam_selesai" class="form-control" /><br />  
                     <input type="submit" name="submit" value="Submit" class="btn btn-info" /><br />                      
                   
                </form>  
           </div>  
           <br />  
      </body>  
 </html> 